<div>
    <h1>About Page</h1>

 <img src="/images/DSC_0059.jpg" class="w3-circle resize" alt="Norway" style="width"> 
 <img src="/images/DSC_0196.jpg" class="w3-circle resize" alt="Norway" style="width"> 
 <img src="/images/DSC_0155.jpg" class="w3-circle resize" alt="Norway" style="width"> 
 <img src="/images/DSC_0047.jpg" class="w3-circle resize" alt="Norway" style="width"> 
 <img src="/images/DSC_0339.jpg" class="w3-circle resize" alt="Norway" style="width"> 
 <img src="/images/DSC_0059.jpg" class="w3-circle resize" alt="Norway" style="width"> 


</div>